#menuPrincipal{
    height: 1px;
    margin-top: 12px;
    position: relative;
    top: -4px;
    font-size: 11px;
}
#top {
    position: relative;
    background-color:#ffffff;
    border-radius: 10px;
    color: #CC0505;
    padding: 15px;
    margin: 0px 0px 30px 0px;

}

#bottom {
    position: relative;
    height: 30px;
    border-radius: 13px;
    text-align: center;
    font-size: 12.5px;
    background-color: #CC0505;
    color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    margin-top: 3px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    font-size: 12px;
    position: relative;
    background-color: #CC0505;
    border-radius: 13px;
    padding: 15px;
}

.left_content {
    background-color: #036FAB;
    padding: 5px;
    margin-left: 170px;
    color: #ffffff;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#frmViaje{
    font-size: 8.5px;
}


#sessionUsuario{
    color: #036FAB;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 15px;
}

.ui-datatable-even{
    background: #dddddd;
}

.ui-datatable-odd{
    background: #ece3a5;
}
