@import url("https://fonts.googleapis.com/css?family=Cairo|Orbitron|Rajdhani|Oswald|Roboto|Roboto+Condensed|Questrial|Comfortaa");


/*    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;*/

body {
    background-color: #03235C; 
    /*#036FAB #AED2D9*/
    font-size: 10px;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
}

h1 {
font-family: 'Orbitron', sans-serif;
/*    font-family: 'Questrial', sans-serif;*/
    font-size:  25px;
    font-weight: bold;
    margin: 10px;
    padding: 0px;
    color: #F1F1F1;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size:  22px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #CC0505;
}
h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #000017;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

