<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        
    
         <property name="hibernate.connection.url">jdbc:sqlserver://10.220.221.158\SQLEXPRESS;databaseName=dbqrsys</property>
        <property name="hibernate.connection.username">gastos_usrdb</property>
        <property name="hibernate.connection.password">k1CruJ@raDix</property>
    
<!--        <property name="hibernate.connection.url">jdbc:sqlserver://DESKTOP-DOKG39Q\SQLEXPRESS2017;databaseName=dbqrsys</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">desarrollo</property>-->
    
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping resource="com/etiquetas/qrsys/e/model/Perfil.hbm.xml"/>
        <mapping resource="com/etiquetas/qrsys/e/model/Usuario.hbm.xml"/>
        <mapping resource="com/etiquetas/qrsys/e/model/Factura.hbm.xml"/>
        <mapping resource="com/etiquetas/qrsys/e/model/Serie.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
